[package]
name = "rls"
version = "0.129.0"
authors = ["Nick Cameron <ncameron@mozilla.com>", "The RLS developers"]
description = "Rust Language Server - provides information about Rust programs to IDEs and other tools"
license = "Apache-2.0/MIT"
repository = "https://github.com/rust-lang-nursery/rls"
categories = ["development-tools"]

build = "build.rs"

[dependencies]
cargo = { git = "https://github.com/rust-lang/cargo", rev = "af9e40c26b4ea2ebd6f31ee86ee61d5ac1c74eb0" }
cargo_metadata = "0.5.2"
clippy_lints = { git = "https://github.com/rust-lang-nursery/rust-clippy", rev = "06d6710147742892efc17ed307b3397bfe093bc7", optional = true }
env_logger = "0.5"
failure = "0.1.1"
itertools = "0.7.3"
jsonrpc-core = "8.0.1"
languageserver-types = "0.44"
lazy_static = "1"
log = "0.4"
num_cpus = "1"
racer = "2.0.14"
rayon = "1"
rls-analysis = "0.14"
rls-blacklist = "0.1.2"
rls-data = { version = "0.16", features = ["serialize-serde"] }
rls-rustc = "0.4.0"
rls-span = { version = "0.4", features = ["serialize-serde"] }
rls-vfs = { version = "0.4.5", features = ["racer-impls"] }
rustfmt-nightly = { git = "https://github.com/rust-lang-nursery/rustfmt", rev = "5e5992517d3591e2708d4ca6b155dfcbdf3344b9" }
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
url = "1.1.0"
walkdir = "2.1"
regex = "1"
ordslice = "0.3"

[dev-dependencies]
json = "0.11"

[features]
default = ["clippy_lints"]
clippy = ["clippy_lints"]
