[package]
name = "rls"
version = "0.130.5"
edition = "2018"
authors = ["Nick Cameron <ncameron@mozilla.com>", "The RLS developers"]
description = "Rust Language Server - provides information about Rust programs to IDEs and other tools"
license = "Apache-2.0/MIT"
repository = "https://github.com/rust-lang-nursery/rls"
categories = ["development-tools"]

build = "build.rs"

[dependencies]
cargo = { git = "https://github.com/rust-lang/cargo", rev = "2d0863f657e6f45159fc7412267eee3e659185e5" }
cargo_metadata = "0.6"
clippy_lints = { git = "https://github.com/rust-lang-nursery/rust-clippy", rev = "d8b426901a75b1eb975f52b4537f2736f2b94436", optional = true }
env_logger = "0.5"
failure = "0.1.1"
itertools = "0.7.3"
jsonrpc-core = "8.0.1"
languageserver-types = "0.45"
lazy_static = "1"
log = "0.4"
num_cpus = "1"
racer = { version = "2.1.9", default-features = false }
rand = "0.5.5"
rayon = "1"
rls-analysis = "0.16.2"
rls-blacklist = "0.1.2"
rls-data = { version = "0.18.1", features = ["serialize-serde", "serialize-rustc"] }
rls-rustc = "0.5.0"
rls-span = { version = "0.4", features = ["serialize-serde"] }
rls-vfs = "0.7"
rustc_tools_util = { git = "https://github.com/rust-lang-nursery/rust-clippy", rev = "d8b426901a75b1eb975f52b4537f2736f2b94436" }
rustfmt-nightly = "0.99.6"
rustc-serialize = "0.3"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
url = "1"
walkdir = "2"
regex = "1"
ordslice = "0.3"
crossbeam-channel = "0.2.3"
toml = "0.4"

# A noop dependency that changes in the Rust repository, it's a bit of a hack.
# See the `src/tools/rustc-workspace-hack/README.md` file in `rust-lang/rust`
# for more information.
rustc-workspace-hack = "1.0.0"

[build-dependencies]
rustc_tools_util = { git = "https://github.com/rust-lang-nursery/rust-clippy", rev = "d8b426901a75b1eb975f52b4537f2736f2b94436" }

[features]
default = ["clippy"]
clippy = ["clippy_lints"]
